.animeCardContainer {
  width: 17.5rem;
  cursor: pointer;
  transition: filter 0.2s;

  .thumbnail {
    position: relative;

    .thumb {
      width: 17.5rem;
      height: 9.375rem;
      background-size: cover;
      border-radius: 0.875rem;
    }

    span {
      position: absolute;
      padding: 3px 9px;
      background: rgba(0, 0, 0, 0.3);
      color: var(--white);
      border-radius: 0.875rem;
      right: 0;
      bottom: 10px;
    }
  }

  .info {
    padding: 10px 0;

    h3 {
      color: var(--white);
      font-weight: 700;
    }

    div {
      span {
        & + span {
          margin-left: 1rem;
          padding-left: 1rem;
          position: relative;

          &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: var(--gray-550);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  &:hover {
    filter: brightness(0.8);
  }

  & + div {
    margin-left: 2.5rem;
  }
}
